<section class="my-10 mt-20">
    <div class="max-w-xl mx-auto shadow border border-gray-100 p-10 rounded-2xl">
        <h2 class="main-h2 rounded-xl">Forgot Password:</h2>

        @if (step == 1) {
        <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
            <div class="mb-5">
                <input type="email" formControlName="email" class="main-input mb-5" placeholder="Enter Your Email:" />
            </div>

            <div>
                <button [disabled]="verifyEmail.invalid" [class.bg-gray-400]="verifyEmail.invalid"
                    [class.cursor-not-allowed]="verifyEmail.invalid"
                    class="main-btn opacity-100 translate-y-0">Continue</button>
            </div>
        </form>
        }
        @else if (step == 2) {
        <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
            <div class="mb-5">
                <input type="text" formControlName="resetCode" class="main-input mb-5" placeholder="Enter Code:" />
            </div>

            <div>
                <button [disabled]="verifyCode.invalid" [class.bg-gray-400]="verifyCode.invalid"
                    [class.cursor-not-allowed]="verifyCode.invalid"
                    class="main-btn opacity-100 translate-y-0">Continue</button>
            </div>
        </form>
        }
        @else if (step == 3) {
        <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
            <div class="mb-5">
                <input readonly type="email" formControlName="email" class="main-input mb-5"
                    placeholder="Enter Your Email:" />
            </div>

            <div class="mb-5">
                <input type="password" formControlName="newPassword" class="main-input mb-5"
                    placeholder="Enter Your New Password:" />
            </div>

            <div>
                <button [disabled]="resetPassword.invalid" [class.bg-gray-400]="resetPassword.invalid"
                    [class.cursor-not-allowed]="resetPassword.invalid" class="main-btn opacity-100 translate-y-0">Reset
                    Password</button>
            </div>
        </form>
        }

    </div>
</section>