@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import "tailwindcss";
@source "../node_modules/flowbite";


@theme {
    --color-main: #0aad0a;
    --color-light: #f0f3f2;
    --shadow-main: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
    --font-main: 'Encode Sans Expanded', sans-serif;
    --color-rating: #ffc908;
}

@layer components {
    .main-btn {
        @apply bg-main translate-y-full opacity-0 text-white px-5 py-2 rounded-xl w-full hover:bg-main/70 cursor-pointer transition duration-700 group-hover:translate-y-0 group-hover:opacity-100;
    }
}

body {
    font-family: var(--font-family) !important;
}

.text-main {
    color: #0aad0a;
}

.owl-carousel .owl-dots .owl-dot span {
    background: #999 !important;
}

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
    background-color: var(--color-main) !important;
}